/* basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #d2b07b;
    color: #d2b07b;
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url('./img/background.png');
    background-size: cover;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  canvas {
    background-color: #d2b07b;
  }