/* basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #d2b07b;
    color: #d2b07b;
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url('./img/background.png');
    background-size: cover;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  canvas {
    background-color: rgb(152,	133,94);
  }
  .game-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .btn {
    background-color: #d2b07b;
    width: 150px;
    box-shadow: 2px 2px 6px 6px #d2b07b;
    color: #fff;
    font-weight: 500;
    padding: 4px 8px;
  }